* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    /* more on this crazy alphanumerical value in a minute! */
    color: #00fafa;
    font-family: Helvetica, Arial, sans-serif;
  }

  header {
      
    padding:20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-shadow: 0 0 10px rgba(0, 225, 255, 0.5);
    background-image: url('../images/hero-backround.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position-y: 0;
  }
  header h1 {
      font-weight: bold;
      font-size: 36px;
      margin: 0;
  }
  header a {
      text-decoration: none;
      color: #00fafa;
  }
  header a {
    text-decoration: none;
    color: #00fafa;
  }
  header nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      list-style: none;
  }
  header nav ul li a {
      padding: 10px 15px;
      font-weight: lighter;
      font-size: 1.55vw;
      text-shadow: 0 0 10px;
  }


  /*Section style */
  section {
      padding: 70px;
  }


  /* Hero style */
  .hero {
      background-image: url('../images/hero-backround.jpeg');
      background-size: cover;
      background-position: top left;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: flex-start;
  }
  .hero-cta {
      width: 40%;
      text-align: center;
      margin: 3.5%;
      font-size: 20px;
      line-height: 1.3;
  }
  .hero-cta h2 {
      font-style: bold;
      font-size: 55px;
      color: #00fafa;
      text-shadow:rgba(0, 225, 255, 0.5);
  }
  .hero-cta p {
      line-height: 1.7;
      color: #00fafa;
      width: 80%;
      font-size: 20px;
      margin: 0 auto;
      text-align: center;
  }
  .intro {
      line-height: 1.7;
      color: #00fafa;
      width: 80%;
      font-size: 20px;
      margin: 0 auto;
      text-align: center;
  }
  .contact {
      line-height: 1.7;
      color: #00fafa;
      width: 80%;
      font-size: 20px;
      margin: 0 auto;
      text-align: center;
  }
  .contact div {
    width: 55%;
    margin: 10px auto 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #00fafa;
    padding-bottom: 25px;
    border-radius: 20px;
    background:rgba(0, 225, 255, 0.6);
    border-bottom: 3px solid;
  }
  
  .section-title {
      font-size: 48px;
      color:#00fafa;
      border-bottom: 3px solid;
      padding-bottom: 25px;
      text-align: center;
      margin: 0 auto 35px auto;
      width: 50%;
      background-color: rgba(0, 225, 255, 0.6);
      border-radius: 20px;
  }
  .projects {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      color: #00fafa;
      padding-bottom: 25px;
      border-radius: 20px;
      background:rgba(0, 225, 255, 0.6);
      border-bottom: 3px solid;
  }
  .project {
      margin: 20px;
      background:rgba(1, 56, 88, 0.6);
      color: #00fafa;
      flex: 1;
      border-radius: 20px;
  }
  .project img {
      width:100%;
      border-radius: 20px;
  }